.Bouton {
    width: 20rem;
    height: 20rem;
    position: relative;
}

.mood {
    color: var(--secondary);
    font-family: var(--font);
    font-size: 10vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    position: relative;
    /* box-shadow: 0 -5px 0 var(--third), -5px 0 0 var(--secondary), 0 5px 0 var(--third), 5px 0 0 var(--secondary); */
    margin: auto;
    margin-top: 5vh;
}

.inner::before,
.inner::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.inner.pulse::before {
    border: 30px solid rgba(252, 54, 127, 0.5);
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    animation: pulse 1.5s ease-out infinite;
}

.inner::after {
    border: 20px solid var(--secondary);
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}

.inner svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.waveform {
    width: 100vw;
    stroke: var(--secondary);
    position: absolute;
    left: 50%;
    top: 50%;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}

.waveform.heart {
    animation: heartBeat 1.5s ease-out infinite;
}

.minify {
    font-size: 5vw;
    width: 40%;
    text-align: center;
}

@keyframes heartBeat {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes pulse {
    from {
        border-width: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    to {
        border-width: 60px;
        top: -27px;
        right: -27px;
        bottom: -27px;
        left: -27px;
    }
}

.playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 95%;
    padding: 1vw;
    margin-top: 10vh;
}

.song {
    color: var(--white);
    font-family: var(--font);
    font-size: 5vw;
}
