@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.profildiv{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color : var(--white);
}
.profilUser{
  width: 12rem;
  height: 12rem;
  border-radius: 90px;
  margin-bottom: 2rem;
}

.profildiv1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#e86b57, #c452a7, #9868d9);
  border-radius: 10px;
  width: 100%;
  height: 50vh;
  border : solid white 1px; 
  position: relative;
}

.edit{
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.detailprofil{
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding-right: 2rem;
}

.profilh4{
  color : wheat;
}
.note{
  font-size: 30px;
}
.profilh2{
  text-shadow: #796161 1px 1px 1px;
}
.profilh4{
  font-size: 15px;
}

.profilmusicfavoris{
margin-top: 1rem;
  width: 100%;
  height: 100%;
  border: solid white 1px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(#6f7de0, #ae55cb, #d65bab);
}

.ulprofil{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  padding-left: 0;
  list-style: none;
  width: 90%;
  position: relative;
}

.liprofil{
  width: 100%;
  font-size: 15px;
  padding-top: 1rem;
}

.liprofil p {
  text-align: start;
}

hr{
  width: 100%;
  height: 1px;
  margin-top: 1rem;
}

.favoris{
  font-size: 40px;
  margin-right: 2rem;
  color : white;
}

.close{
  width: 100%;
 font-size: 20px;
 position: absolute;
 left: 6rem;

}