.Eq {
    width: 15vw;
    height: 7vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.bar {
    width: 5px;
    background-color: var(--third);
    opacity: 0.5;
}

.b1 {
    animation: playing3 0.6s infinite ease-in-out;
}

.b2 {
    animation: playing2 0.6s infinite ease-in-out;
}

.b3 {
    animation: playing 0.6s infinite ease-in-out;
}

.b4 {
    animation: playing3 0.6s infinite ease-in-out;
}

@keyframes playing {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes playing2 {
    from {
        height: 0;
    }
    to {
        height: 80%;
    }
}

@keyframes playing3 {
    from {
        height: 0;
    }
    to {
        height: 60%;
    }
}

@media screen and (min-device-width: 1367px) {
    .Eq {
        width: 5vw;
        height: 3vw;
    }

    .bar {
        width: 3px;
        background-color: var(--third);
        opacity: 0.5;
    }
}
