.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: var(--nav);
    color: white;
    padding: 1rem;
}

.burger {
    width: 3rem;
    height: 2rem;
}

.logo {
    font-size: 3vw;
    font-family: var(--font);
    text-decoration: none;
    color: var(--third);
    text-transform: uppercase;
    opacity: 0.9;
}

.logouser {
    color: white;
    font-size: 8vw;
}

.white {
    color: white;
}
