.Watch {
    position: absolute;
    z-index: 2;
    left: 2vh;
    top: 20vh;
    z-index: -1;
}

.watch {
    width: 46px;
    height: 46px;
}

.no-watch {
    width: 46px;
    height: 46px;
}

@media screen and (min-device-width: 1367px) {
    .watch {
        width: 23px;
        height: 23px;
    }
}
